.carousel-container {
    display: flex;
    width: 100%;
}

.carousel-container .carousel-wrap {
    overflow: hidden;
}

.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}

@media (min-width: 30em) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}

@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

.carousel.reverse {
    transform: translateX(-100%);
}

@media (min-width: 30em) {
    .carousel.reverse {
        transform: translateX(-50%);
    }
}

@media (min-width: 40em) {
    .carousel.reverse {
        transform: translateX(-33.33333%);
    }
}

.carousel.has-animated {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-slide {
    background: #ddd;
    flex: 1 0 100%;
    order: 2;
}

.carousel-slide:nth-child(even) {
    background: #d5d5d5;
}

@media (min-width: 30em) {
    .carousel-slide {
        flex-basis: 50%;
    }
}

@media (min-width: 40em) {
    .carousel-slide {
        flex-basis: 33.33333%;
    }
}

.carousel-slide.reference {
    order: 1;
}

.carousel-controls {
    padding: 2em;
    text-align: center;
}

.carousel-controls button {
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
}

.carousel-controls button:hover,
.carousel-controls button:focus {
    background: magenta;
}

.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 1rem;
    line-height: 1.3rem;
}